---
const { title, img, desc, url, badge, tags, target = "_blank" } = Astro.props;
import { Image } from "astro:assets";
const tag_url = url.split("/").slice(0, -1).join("/") + "/tag";
---

<div
  class="rounded-lg bg-base-100 hover:shadow-[0_0_20px_rgba(var(--fallback-p,var(--p)),0.3)] transition ease-in-out duration-300 project-card"
  data-tilt
  data-tilt-max="10"
  data-tilt-speed="1000"
  data-tilt-glare
  data-tilt-max-glare="0.5"
>
  <a href={url} target={target}>
    <div class="hero-content flex-col md:flex-row">
      {
        img && (
          <Image
            src={img}
            width={750}
            height={422}
            format="webp"
            alt={title}
            loading="lazy"
            decoding="async"
            class="max-w-full md:max-w-[13rem] rounded-lg"
          />
        )
      }
      <div class="grow w-full">
        <h1 class="text-xl font-bold">
          {title}
          {badge && <div class="badge badge-secondary mx-2">{badge}</div>}
        </h1>
        <p class="py-1 text-1xl">{desc}</p>
        <div class="card-actions justify-end">
          {
            tags &&
              tags.map((tag) => (
                <a href={`${tag_url}/${tag}`} class="badge badge-outline">
                  {tag}
                </a>
              ))
          }
        </div>
      </div>
    </div>
  </a>
</div>

<script is:inline>
  function initTilt() {
    if (window.VanillaTilt) {
      VanillaTilt.init(document.querySelectorAll(".project-card"), {
        max: 10,
        speed: 1000,
        glare: true,
        "max-glare": 0.5,
      });
    }
  }
  document.addEventListener("astro:page-load", initTilt);
  // Initial run for first page load
  initTilt();
</script>